body{
    display: flex;
    width: 80%;
    height: 100%;
}

#button {
    background-color: white; 
    height: 50px; 
    width: 250px; 
    border-radius: 4px; 
    font-family: 'Roboto', sans-serif; 
    cursor: pointer;
    border: none;

    transition: .7s;
}

#button:hover {
    width: 300px;
    height: 80px;
    color: white;
    font-size: 20px;
    background: url('https://media.giphy.com/media/9D58IXlnmyl1zPYZHy/giphy.gif');
}

.search {
    display: inline;
}

#searchButton {
    border: none; 
    background-color: white; 
    height: 30px; 
    width: 125px; 
    margin-left: 20px;
    font-family: 'Roboto', sans-serif; 
    cursor: pointer;

    transition: .7s;
}

.searchInput:focus{
    background-color: black;
    color: white;
}

#searchButton:hover {
    height: 35px;
    width: 160px;
}

.desmontrateButton {
    border: none; 
    background-color: white; 
    height: 30px; 
    width: 125px; 
    margin-left: 20px;
    font-family: 'Roboto', sans-serif; 
    cursor: pointer;

    transition: .7s;
}

#desmontrateButton:hover {
    height: 35px;
    width: 160px;
}